version: '3'

services:
  app:
    build:
      context: .
    ports:
      - "8080:8000"
    volumes:
      - .:/app
    command: >
      sh -c "python3 manage.py migrate &&
             gunicorn backend.wsgi:application --bind 0.0.0.0:8000"
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    env_file:
      - ./.env
  redis:
    image: redis:alpine
  celery:
    restart: always
    build:
      context: .
    command: celery -A app worker -l info
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - app
volumes:
  pgdata: